/* Fontes = google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


/* Reset CSS */ 
* {
    margin: 0;
    padding: 0;
}

/* Declaração das Variáveis */

:root { 
    --cor-principal: #000000;
    --cor-secudaria: #f6f6f6;
    --cor-destaque: #22D4FD;
    --cor-hover: #272727;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-securaria: 'Montserrat', sans-serif;
}

/* Início estilização HEADER */

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;

}

.cabecalho_menu_link {
    color: var(--cor-destaque);

    font-family: var(--fonte-securaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}


/* Início estilização MAIN */

body {
    
    
    box-sizing: border-box;
    
    background-color: var(--cor-principal);
    color: var(--cor-secudaria);
}

.titulo-destaque {
    color: var(--cor-destaque);
}

.apresentacao {
    padding: 5% 15%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 40px;
    }

.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao_conteudo_paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-securaria);
}

.aprensentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_links_redes {
    color: var(--cor-secudaria);
    
    width: 50%;
    padding: 21.5px 0;
        
    border-radius: 8px;
    border: 2px solid var(--cor-destaque);
     
    display: flex;
    gap: 16px;
    justify-content: center;
        
    text-decoration: none;
    font-family: var(--fonte-securaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.apresentacao_links_redes:hover {
    background-color: var(--cor-hover);
    border: 4px solid var(--cor-destaque);
}

.apresentacao_imagem {
width: 50%;
}

/* Início estilização FOOTER */

.rodape {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);

    padding: 24px;

    font-family: var(--fonte-securaria);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

/* Media Queries */

@media (max-width: 1200px) {
    .cabecalho
    {
        padding: 10%;
    }

    .cabecalho_menu
    {
        justify-content: center;
    }

    .apresentacao
    {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo
    {
        width: auto;
    }
 

}